<div class="element-left">
  <div class="element-bg-img"><img [src]="chosenHotel ? chosenHotel.images[0] : hotels[0].images[0]" alt="" class="img-responsive"> </div>
  <div class="element-left-bottom">
    <div class="ele-strip">
      <ul>
        <li><a href="#" (click)="filterByStars(0, hotels)">All</a></li>
        <li><a href="#" (click)="filterByStars(4, hotels)">4*</a></li>
        <li class="anc-bor"><a href="#" (click)="filterByStars(5, hotels)">5*</a></li>
      </ul>
    </div>
    <div class="village">
      <h3>Hotel list</h3>
      <span class="line"> </span>
      <div class="activity_box">
        <div class="scrollbar" id="style-2">
          <div class="activity-row" *ngFor="let hotel of hotels | hotelFilter: stars">
            <div class="activity-desc">
              <h5 (click)="chooseHotel(hotel)">{{hotel.name}}</h5>
              <p>{{hotel.address}}</p>
              <h6>Tel:{{hotel.phone}}</h6>
            </div>
            <div class="activity-img">
              <ul>
                <li><img [src]='hotel.images[0]'  alt=""/></li>
                <li><img [src]='hotel.images[1]'  alt=""/></li>
              </ul>
            </div>
            <div class="clear"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
